<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container h-100">
            <div class="row h-100 flex-nowrap ">
                <div class="col-12 col-md-4 contacts">
                    <div class="row h-100 flex-column flex-nowrap ">
                        <div class="col-12 header py-2 d-flex justify-content-between border-right">
                            <div class="d-flex align-items-center">
                                <img src="img/avatar_io.jpg" alt="Sofia">
                                <div>Sofia</div>
                            </div>
                            <div class="d-flex align-items-center color-icons">
                                <i class="fa-solid fa-circle-notch me-3 fs-4"></i>
                                <i class="fa-solid fa-message me-3 fs-4"></i>
                                <i class="fa-solid fa-ellipsis-vertical me-3 fs-4"></i>
                            </div>
                        </div>
                        <div class="col-12 notify py-3 d-flex align-items-center">
                    
                            <i class="fa-solid fa-bell-slash fs-4 bell-icon me-2"></i>
                            <div class="">
                                <h6 class="lh-1 m-0">Ricevi notifiche di nuovi messaggi</h6>
                                <a href="#" class="link-size ">Attiva notifiche desktop</a>
                            </div>
                            
                        </div>
                        <div class="col-12 header d-flex p-2">
                            <button class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" class="w-100 input-border" placeholder="Cerca o inizia nuova chat">
                        </div>
                        <div class="col-12 flex-grow-1 overflow-y-auto h0 overflow-y-scroll">
                            <div class="row border-bottom py-2" v-for="contact in contacts" @click="activeContact = contact.name" :class="{'row-grey' : activeContact === contact.name}">
                                <div class="col-12 d-flex justify-content-between" @click="activeContact = contact.name">
                                    <div class="d-flex">
                                        <img :src="contact.avatar" :alt="contact.name" class="me-2">
                                        <div>
                                            <h6 class="m-0">{{contact.name}}</h6>
                                            <p class="last-message">Ultimo messaggio inviato</p>
                                        </div>
                                    </div>
                                    <div class="link-size">12.00</div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div v-if="activeContact === ''" class = " row body-message h-100">
                    </div>
                    <div class="row h-100 flex-column" v-for="contact in contacts" v-show="activeContact === contact.name">
                        <div class="col-12 header py-2 d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <img :src="contact.avatar" :alt="contact.name" class="me-2">
                                <div>
                                    <h6 class="m-0">{{contact.name}}</h6>
                                    <p class="last-message m-0">Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            
                            <div class="d-flex align-items-center color-icons">
                                <i class="fa-solid fa-magnifying-glass me-3 fs-4"></i>
                                <i class="fa-solid fa-paperclip me-3 fs-4"></i>
                                <i class="fa-solid fa-ellipsis-vertical me-3 fs-4"></i>
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 overflow-y-auto h-50 overflow-y-scroll body-message p-4" >
                            <div class="row m-3" :class="{'sent' : texting.status === 'sent'}" v-for="texting in contact.messages">
                                <div class="col-4" :class="{'sent-color' : texting.status === 'sent', 'received-color' : texting.status === 'received'}">
                                    <div class="pt-2">{{texting.message}}</div>
                                    <div class="text-end last-message">{{texting.date}}</div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-12 d-flex color-input-message justify-content-around align-items-center px-3 py-2">
                            <i class="fa-regular fa-face-smile fs-4 opacity "></i>
                            <input type="text" placeholder="Scrivi un messaggio!" class="message-input input-border p-3 h-100">
                            <i class="fa-solid fa-microphone fs-4 opacity"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="module"></script>
</body>
</html>